<!-- templates/_navbar.html -->
<nav>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        {% if feature_flags.db %}
        <a href="{{ url_for('view_collections') }}">DB Main</a>
        <a href="{{ url_for('update_item_db_route') }}">Update DB</a>
        {% endif %}
        {% if feature_flags.chrome %}
        <a href="{{ url_for('view_chrome_root') }}">Chrome Bookmarks</a>
        {% endif %}
        {% if feature_flags.youtube %}
        <a href="{{ url_for('view_chrome_youtube') }}">YouTube Bookmarks</a>
        {% endif %}
        {% if feature_flags.eagle %}
        <a href="{{ url_for('list_all_eagle_folder') }}">EAGLE Folders</a>
        <a href="{{ url_for('list_eagle_tags') }}">EAGLE Tags</a>
        <a href="{{ url_for('eagle_stream') }}">EAGLE Stream</a>
        {% endif %}
    </div>

    {% if feature_flags.eagle %}
    <div class="search-container">
        <form action="{{ url_for('search_eagle') }}" method="GET">
            <input type="text" placeholder="Search..." name="query">
            <button type="submit">Search</button>
        </form>
    </div>
    {% endif %}
</nav>
